.profile-wrapper{
  font-family: 'Open Sans', Tahoma, sans-serif;
  background: #fff url(../img/header-shadow.png) repeat-x top;
}
.profile-div{
  display: inline-block;
  background: #fff url(../img/header-shadow.png) repeat-x top;
  border: 1px solid #dbd6d6;
  border-radius: 2px;
  margin: 0 5px 5px 0;
  padding: 0;
}
.profile-wrapper h3{
  background: #f3f3f3 url(../img/fade.png) repeat-x top left;
  color: black;
  border-bottom: 1px solid #dbd6d6;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  padding: 5px 10px;
}
.details-wrapper{
  padding: 10px;
}
.img-div{
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}
.img-div img{
  width: 200px;
  height: 200px;
}
.details-wrapper table{
  border-collapse: collapse;
}
.details-wrapper td{
  padding-bottom: 10px;
  padding-right: 20px;
}
.details-wrapper td.detail-name{
  font-weight: bold;
}
.details-wrapper tr{
  border-top: 1px solid #dbd6d6;
}
.details-wrapper tr:first-child{
  border-top: 0;
}
/*.details-wrapper input[type="email"]{
  width: 181px;
}*/
.profile-wrapper a{
  display: inline-block;
  text-decoration: none;
  color: #4781a4;
  border: 1px solid #dbd6d6;
  background-color: #c8c8c8;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 20px 3px 20px;
  box-sizing: border-box;
  height: 23px;
  margin-left: 243px;
}
.profile-wrapper a:hover{
  color: #4e758c;
  background-color: #dedede;
}
/*=============Modal Window=============*/
.modal-window{
  width: 252px;
	height: 92px;
	border-radius: 5px;
	border: 3px #919191 solid;
	background: #fff;
	position: fixed;
  font-weight: bold;
	top: 45%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
}
.modal-window-overlay {
	z-index:3;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
}
.modal-window-edit{
  height: 23px;
  color: #9c2c2c;
  border: 1px solid #dbd6d6;
  background-color: #c8c8c8;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 20px 3px 20px;
}
.modal-window-edit:hover{
  background-color: #440000;
}
